* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8637.jpg?w=740&t=st=1697674701~exp=1697675301~hmac=456a3f9c89dc81a558f643dd908546429c434f9b9525658fcc0d4230cc931ad5");
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Master */
#master {
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
    border-radius: 30px;
    padding-bottom: 4rem;
    margin: 20px;
    box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.342);

}
#header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header img{
    width: 350px;
    
}

#page-content {
    margin-inline: 1rem;
    
    
}

/* sessão 1 da página */
#segment1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5rem;
    
}
#segment1 img{
    width: 40%;
}

/* sessão 2 da página */
#segment2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
    background-color: #5CE1E6;
    border-radius: 20px;
    height: 450px;
    padding-left: 1rem;
    
    
}
#segment2 img{
    width: 40%;
}

#segment2 h3{
    margin-left: 6rem;
    margin-top: 1rem;
}


/* sessão 3 da página */
#segment3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

#service-container {
    /* border: 2px solid rgb(0, 162, 255);
    border-radius: 30px; */
    width: 200px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    /* font-size: 1rem; */
    padding-block: 1rem;
    padding-inline: 0.5rem;
    color: rgb(68, 68, 68);

}

#service-container img{
    width: 90%;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.service-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.service-description p{
    font-style: italic;
    text-align: center;
}

.service-description h3{
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 0.3rem;
}




/*             Botão WhatsApp           */
#button-container button{
    padding: 0.2rem;
    font-size: 1rem;
    background-color: rgb(36, 173, 36);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    position: relative;
    color: white;
    cursor: pointer;
    box-shadow: 2.5px 5px 5px 1px rgba(0, 0, 0, 0.342);
    border: 0;
    margin-top: 4rem;
    font-weight: bold;
    transition: all 0.5s;

}

#button-container button:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 3rem;
    font-size: 100%;
    font-weight: bold;
}

#button-container a{
    text-decoration: none;
}

.button-image {
    height: 50px;
    bottom: 5px;
    padding-left: 1rem;
    padding-top: 5px;
}

/* Isso é so um teste de edicao via vscode.dev usando o tablet*/
/* Essa edição foi feita através do site do github usando o tablet*/
